* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
	list-style: none;
	text-decoration: none;
	/* overflow-x:hidden; */
}

html {
	scroll-behavior: smooth;
}

header {
	width: 100%;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: white;
	padding: 16px 12%;
	transition: all 0.5s ease;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

header img {
	height: 50px;
}

.logo {
	display: flex;
	align-items: center;
	color: black;
	font-weight: 600;
}

#nav-menu {
	display: flex;
	align-items: center;
}

#nav-menu a {
	font-size: 1.2rem;
	font-weight: 500;
	padding: 5px 0px;
	margin: 0 20px;
	transition: all 0.5s ease;
	color: black;
}

/* #nav-menu a:hover{
    color: #10151a;  
} */

#nav-menu a.active {
	color: #10151a;
}

#menu-icon {
	cursor: pointer;
	z-index: 1001;
	display: none;
}

.margin-t-b {
	margin-bottom: 100px;
	margin-top: 65px;
}
.main-body {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: calc(100vh - 165px);
	margin-top: 100px;
	margin-bottom: 100px;
	position: relative;
	transition: all 0.5s ease;
}
#home > div:nth-child(1) {
	position: absolute;
	width: 98.5vw;
	height: 100vh;
}

.home-social img {
	width: 30px;
	cursor: pointer;
}

#home {
	width: 80%;
	margin: auto;
	height: 100vh;
	display: flex;
	justify-content: space-around;
}
.home-text {
	/* margin: 40px 40px 10px 40px; */
	width: 100%;
	margin-left: 30px;
	margin-top: 80px;
}
.home-text > p {
	font-size: 2.5rem;
	color: rgb(56, 56, 56);
}
.home-text > p:nth-child(3) {
	font-weight: 700;
	margin: 10px 0;
}

#home > img {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: -100000;
}

.home-text h1 {
	font-size: 3.5rem;
	font-weight: 700;
	color: black;
}
.resume {
	margin: 20px 0;
	color: white;
	font-size: 20px;
}
#resume-button-2 {
	background-color: rgb(33, 32, 32);
	color: white;
	padding: 7px 10px;
	margin: 10px 0;
	display: block;
	width: 200px;
	cursor: pointer;
}

.home-card-main {
	width: 100%;
	margin-right: 150px;
}

.home-social a {
	margin: 0 15px;
	size: 50px;
}

.skills-card {
	margin-bottom: 100px;
}
#skills-sec,
#projects-sec,
#ct-sec {
	height: 12vh;
}

#about {
	background-color: black;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: space-around;
	border-top: 1px solid white;
}

#about > div:nth-child(1) {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70%;
}

.home-card-main > div > img {
	border-radius: 50%;
	/* width: 25vw; */
	margin-left: 150px;
}

#about > div:nth-child(2) {
	width: 100%;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 100px;
	color: white;
}
#about > div:nth-child(2) > h1 {
	font-size: 2.5rem;
	margin-bottom: 40px;
}
#about > div:nth-child(2) > p {
	font-size: 1.2rem;
	margin-bottom: 40px;
	padding: 0 40px;
}

#about > div:nth-child(2) > a {
	padding: 10px 15px;
	color: black;
	background: white;
	font-size: 1.2rem;
	border: none;
	cursor: pointer;
}
#about > div:nth-child(2) > a:hover {
	color: black;
}

#skills > h1 {
	text-align: center;
	font-size: 2.5rem;
	color: rgb(36, 36, 36);
	margin-bottom: 30px;
}

#tech {
	width: 80%;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 60px 40px;
}

#tech > div {
	width: 50%;
	height: 100%;
	border: 1px solid black;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	padding: 15px;
}

#tech > div > img {
	width: 50px;
	height: 50px;
}

#projects {
	height: auto;
	margin-bottom: 100px;
}
#projects > h1 {
	text-align: center;
	font-size: 2.3rem;
	color: rgb(36, 36, 36);
	margin-bottom: 50px;
}

.all-projects {
	width: 85%;
	margin: auto;
}

.project-card {
	height: auto;
	background-color: white;
	border: 1px solid black;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	margin: 40px 0;
}
.project-card > div:nth-child(1) {
	width: 70%;
}
.project-card > div:nth-child(1) > img {
	margin-top: 40px;
	width: 100%;
}
.project-card > div:nth-child(2) {
	border: 1px solid black;
	width: 40%;
	text-align: center;
	margin: 0px 0px;
	width: 38%;
	padding-top: 30px;
	padding: 0 20px;
}
.project-card > div:nth-child(2) > h1,
.project-card > div:nth-child(2) > p,
.project-card > div:nth-child(2) > h5,
.project-card > div:nth-child(2) > a {
	margin: 15px 0;
	font-size: 1.1rem;
	color: black;
}
.project-card > div:nth-child(2) > div {
	margin-top: 30px;
}
.project-card > div:nth-child(2) a {
	padding: 8px 15px;
	margin: 0 5px;
	border: none;
	background-color: black;
	color: white;
	font-size: 1.1rem;
	cursor: pointer;
}

.project-card > div:nth-child(2) a:hover {
	color: #ffffff;
	background: black;
}

.project-card > div:nth-child(2) > h1 {
	font-size: 28px;
}

#github-sec {
	height: auto;
}

.github > h1 {
	text-align: center;
	font-size: 2.5rem;
	color: rgb(36, 36, 36);
	margin-bottom: 30px;
}
.github > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.calendar {
	width: 80%;
	background-color: rgb(28, 28, 28);
	padding: 40px;
	border-radius: 10px;
	color: #ece9e6;
}
.github > div > div {
	margin: 10px auto;
}
.github > div > div > img {
	margin: 10px;
}

#contact > h1 {
	text-align: center;
	font-size: 2.5rem;
	color: rgb(36, 36, 36);
	margin-bottom: 30px;
}

#contact > div {
	border: 1px solid black;
	width: 80%;
	margin: 30px auto;
	display: flex;
	justify-content: space-evenly;
	/* padding: 50px 0; */
}

.personal-info {
	/* border:1px solid black; */
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.personal-info > div {
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	padding: 30px;
	height: 100%;
	margin: 20px auto;
	background-color: white;
	width: 100%;
}
.personal-info > div > div {
	margin: 25px auto;
}
.personal-info > div > div > p {
	margin: 5px 10px;
}

.info-head {
	display: flex;
	/* justify-content: center; */
	align-items: center;
	margin: 5px 10px;
	color: black;
}
.info-head > i {
	margin-right: 8px;
}
.send-info {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.send-info > div {
	/* border:1px solid black; */
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	background-color: white;
	width: 100%;
	margin: 20px auto;
	height: 100%;
	padding: 10px;
}
.input-box {
	/* border:1px solid black; */
	background-color: rgb(28, 28, 28);
	margin: 15px 20px;
}
.input-box:first-child {
	margin-top: 20px;
}

.input-box > p {
	padding: 10px 15px 0px;
	font-size: 14px;
	color: white;
}
.input-box > input,
.input-box > textarea {
	background-color: rgb(28, 28, 28);
	border: none;
	resize: none;
	border-radius: 20px;
	font-size: 14px;
	padding: 0px 15px 10px;
	color: white;
	width: 100%;
	box-sizing: border-box;
}
.input-box > input:focus,
.input-box > textarea:focus {
	outline: none;
}
.submit-btn {
	margin: 15px 20px 20px;
}
.submit-btn > button {
	/* margin: 15px 20px; */
	font-size: 16px;
	padding: 8px 12px;
	background-color: rgb(28, 28, 28);
	border: 2px solid rgb(28, 28, 28);
	color: white;
	cursor: pointer;
	user-select: none;
}
.submit-btn > button:hover {
	background-color: white;
	border: 2px solid black;
	color: black;
}

/*-------------footer-------------*/

footer {
	background-color: rgb(255, 255, 255);
	padding: 10px 0;
}

footer > div:nth-child(1) {
	display: flex;
	justify-content: center;
}

footer > div:nth-child(2) {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	padding-top: 10px;
	color: rgb(34, 34, 34);
}

/* ============================================================================================ */

@media all and (min-width: 320px) and (max-width: 800px) {
	#contact {
		margin-bottom: 40px;
	}
	#contact > h1 {
		margin-top: 20px;
	}
	#contact > h1,
	#contact > p {
		text-align: center;
	}

	#contact > div {
		width: 90%;
		background-color: white;
		display: flex;
		border: 1px solid black;
		justify-content: space-evenly;
	}

	.personal-info {
		/* border:1px solid black; */
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.personal-info > div {
		/* border: 1px double #f0422f; */
		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
		padding: 5px;
		height: 100%;
		margin: 20px auto;
		background-color: white;
		width: 90%;
	}

	.personal-info > div > div {
		margin: 25px 30px;
	}
	.personal-info > div > div > p {
		margin: 5px 10px;
		font-size: 12px;
	}

	.info-head {
		display: flex;
		font-size: 12px;
		/* justify-content: center; */
		align-items: center;
		margin: 5px 10px;
		color: black;
	}
	.info-head > i {
		margin-right: 8px;
		font-size: 12px;
	}

	.send-info {
		/* border:1px solid black; */
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.send-info > div {
		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
		background-color: white;
		width: 90%;
		margin: 20px auto;
		height: 100%;
	}
	.input-box {
		background-color: rgb(28, 28, 28);
		margin: 15px 20px;
	}
	.input-box:first-child {
		margin-top: 20px;
	}

	.input-box > p {
		padding: 10px 15px 0px;
		font-size: 14px;
		color: white;
	}
	.input-box > input,
	.input-box > textarea {
		background-color: rgb(28, 28, 28);
		border: none;
		resize: none;
		font-size: 14px;
		padding: 0px 15px 10px;
		color: white;
		width: 100%;
		box-sizing: border-box;
	}
	.input-box > input:focus,
	.input-box > textarea:focus {
		outline: none;
	}
	.submit-btn {
		margin: 15px 20px 20px;
	}
	.submit-btn > button {
		font-size: 12px;
		padding: 6px 10px;
		background-color: black;
		color: white;
		cursor: pointer;
		user-select: none;
	}
	/* .submit-btn > button:hover{
       
       
    
    } */
}

/* ======================================================================================================= */

@media (max-width: 425px) {
	.home-social {
		background-color: white;
		padding-top: 10px;
		border-radius: 5px;
		display: flex;
		justify-content: left;
	}

	#home > img {
		width: 1000px;
		right: 0;
	}

	.home-text h1 {
		font-size: 1.5rem;
	}
	.home-text > p {
		font-size: 1rem;
	}
	#home > div:nth-child(1) {
		display: none;
	}
	#home {
		height: auto;
		margin-bottom: 10px;
	}

	#about {
		flex-direction: column;
		height: auto;
		clip-path: none;
	}
	#about > div:nth-child(1) {
		width: auto;
		margin-top: 50px;
	}
	#about > div:nth-child(2) {
		padding: 0px 20px;
		text-align: justify;
		margin-bottom: 50px;
	}
	#about img {
		width: 40vw;
	}

	.project-card > div:nth-child(2) > h1,
	.project-card > div:nth-child(2) > p,
	.project-card > div:nth-child(2) > h5,
	.project-card > div:nth-child(2) > a {
		margin: 15px -37px;
		font-size: 1.1rem;
		color: black;
	}

	#tech {
		grid-template-columns: repeat(2, 1fr);
		margin: 0px;
	}
	#tech > div {
		padding: 10px 50px;
	}

	#contact > div {
		flex-direction: column;
	}
	.personal-info {
		width: 100%;
	}
	.send-info > div {
		width: 90%;
	}

	.calendar {
		width: 100vw;
	}
	.github > div > div img {
		width: 100%;
	}
	footer > div:nth-child(2) {
		font-size: 14px;
	}

	.project-card {
		flex-direction: column;
	}

	.project-card > div:nth-child(1) {
		width: 100%;
	}
	.project-card > div:nth-child(2) {
		width: 100%;
		border: none;
	}
	.project-card > div:nth-child(2) a {
		display: block;
		margin-top: 5px;
	}
}

/* ======================================================================================================= */

@media (max-width: 1280px) {
	header {
		padding: 16px 2%;
		transition: 0.2s;
		display: flex;
		justify-content: space-around;
	}
	.all-projects {
		width: 95%;
	}

	.project-card {
		flex-direction: column;
		width: 100%;
	}

	.project-card > div:nth-child(1) {
		width: 100%;
	}
	.project-card > div:nth-child(2) {
		width: 100%;
		margin: 0px;
		font-size: 14px;
	}
	.project-card > div:nth-child(2) a {
		width: 50%;
		margin: auto;
		margin-top: 5px;
	}

	#about > div:nth-child(2) > p {
		font-size: 1.2rem;
		margin-bottom: 40px;
		padding: 0;
	}
	#about {
		height: 120vh;
	}
}

/* ======================================================================================================= */

@media (max-width: 724px) {
	#menu-icon {
		display: block;
	}

	#nav-menu {
		position: absolute;
		top: 0;
		margin-top: 60px;
		display: none;
		width: 50%;
		background: white;
		height: auto;
		transition: all 0.5s ease;
	}

	#nav-menu a {
		display: block;
		margin: 8px 0;
		padding: 0 25px;
		/* color: white; */
		transition: all 1 ease;
	}
	#nav-menu a.active {
		color: black;
	}

	#nav-menu a:hover {
		color: rgb(44, 44, 44);
	}

	/* #nav-menu a.active{
        color: black;   
    } */

	#nav-menu.open {
		width: 100%;
		top: 70;
		display: block;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}

	.main-body {
		flex-direction: column;
	}
	.all-projects {
		width: 95%;
	}

	.project-card {
		flex-direction: column;
		width: 100%;
	}

	.project-card > div:nth-child(1) {
		width: 100%;
	}
	.project-card > div:nth-child(2) {
		width: 100%;
		margin: 0px;
		font-size: 14px;
	}
	.project-card > div:nth-child(2) a {
		width: 50%;
		margin: auto;
		margin-top: 5px;
	}
}

#user-detail-name {
	display: flex;
	align-items: center;
	padding-left: 100px;
}

.home-img {
	width: 150px;
	height: 200px;
}
